@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  color: #777;
  font-family: 'Lato', sans-serif;
}

h2,
#club-ethos h3 {
  color: #555;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#logo {
  float: left;
  font-size: 280%;
  margin: 0 0 0 30px;
}

#menu {
  float: right;
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#logo,
#menu {
  line-height: 75px;
}

#menu li {
  display: inline-block;
  margin-right: 30px;
}

#menu a {
  color: inherit;
  text-decoration: none;
}

#menu a:hover,
.active {
  border-bottom: 1px solid #777;
  /* text-decoration: underline; */
}

header + section {
  /* clear: both; */
  height: 600px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#hero-img,
#form-bg {
  height: 100%;
  width: 100%;
}

#hero-img {
  animation: hero-zoom 3s forwards;
  background: url('../img/hero-image.png') center/cover no-repeat;
}

#form-bg {
  animation: form-zoom 3s forwards;
  background: url('../img/formbg.jpg') center/cover no-repeat;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

@keyframes form-zoom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

#cover-text,
#cover-text h2 {
  color: #fff;
}

#cover-text {
  background: rgba(241, 109, 107, .7);
  bottom: 30px;
  font-size: 130%;
  font-family: 'Oswald', sans-serif;
  height: 200px;
  letter-spacing: 4px;
  padding: 40px 0 0 10px;
  position: absolute;
  right: 100px;
  text-transform: uppercase;
  width: 300px;
}

#club-ethos {
  height: 600px;
}

#left-about,
#right-about,
#center-about {
  padding-top: 30px;
  width: 33%;
}

#left-about {
  float: left;
}

#right-about {
  float: right;
}

#center-about {
  margin: 0 auto;
}

.left-about-heading,
.right-about-heading {
  clear: both;
  line-height: 20px;
  margin-bottom: 50px;
  width: 50%;
}

.left-about-heading {
  float: right;
}

.right-about-heading {
  float: left;
  text-align: right;
}

hr {
  border-top: 1px solid #777;
  margin: 5px 0;
  width: 100%;
}

#welcome {
  font-size: 280%;
  margin: 20px 0;
  text-align: center;
}

#circle-container {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 300px;
  margin: 0 auto;
  padding: 30px;
  width: 300px;
}

#circle-cover-bg {
  background: url('../img/video-mask.png') center center no-repeat;
  border-radius: 50%;
  height: 100%;
}

#meetups {
  background: url('../img/dublin-city.png') center/cover no-repeat;
  height: 300px;
  overflow: hidden;
  width: 100%;
}

#meetups > div,
#meetups > div h2 {
  color: #fafafa;
}

#meetups > div {
  background: rgba(0, 0, 0, .6);
  float: left;
  height: 100%;
  margin: 0 .2%;
  padding: 30px .3% 0;
  text-align: center;
  width: 19%;
}

footer {
  height: 150px;
  /* clear: both; */
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline;
}

footer ul i {
  color: #777;
  font-size: 160%;
  margin: 1%;
  padding: 5%;
}

footer ul i:hover {
  animation: social-zoom 500ms forwards;
}

@keyframes social-zoom {
  from {
    color: #777;
    transform: scale(1);
  }
  to {
    color: rgb(241, 109, 107);
    transform: scale(1.5);
  }
}

#photo-gallery {
  column-count: 4;
  column-gap: 0;
  height: unset;
  line-height: 0;
}

#photo-gallery img {
  width: 100%;
}

#photo-gallery img:last-of-type {
  opacity: 0.87;
}

#form-section {
  height: 900px;
}

#form-text,
#form-text h2 {
  color: #fff;
}

#form-text {
  background: rgba(60, 60, 60, .7);
  top: 150px;
  /* height: 200px; */
  padding: 30px;
  position: absolute;
  left: 10%;
  max-width: 400px;
}

#form-text h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover {
  border-color: #f16c6b;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #f16c6b;
  color: #fafafa;
  display: block;
}

.join-button:hover {
  background-color: #fafafa;
  color: #f16c6b;
}

@media screen and (max-width: 1200px) {
  #club-ethos {
    height: 1200px;
    margin: 0 auto;
    width: 65%;
  }
  #welcome {
    margin: 0;
    padding: 30px 0;
  }
  #left-about,
  #right-about {
    float: left;
    padding: 0;
    width: 100%;
  }
  #center-about {
    clear: both;
    float: left;
    padding: 0;
    width: 100%;
  }
  hr {
    display: none;
  }
  #form-section {
  height: 840px;
  }
  #form-text h2,
  .text-input {
  margin-bottom: 30px;
  }
}

@media screen and (max-width: 943px) {
  #cover-text {
    left: 0;
  }
  #club-ethos {
    width: 90%;
  }
  #meetups {
    height: unset;
  }
  #meetups > div {
  border: 1px solid #fff;
  height: 150px;
  margin: 0;
  padding: 0;
  width: 100%;
  }
  #photo-gallery {
  column-count: 3;
  }
  #form-text {
  left: 5%;
  max-width: 370px;
  }
  #email {
    margin-bottom: 40px;
  }
  .radio-input {
    clear: left;
  }
  .join-button {
  margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  #menu {
    clear: left;
    float: left;
    line-height: 25px;
    margin: 0 0 20px 30px;
  }
  .left-about-heading,
  .right-about-heading {
    text-align: center;
    width: inherit;
  }
  .left-about-heading p,
  .right-about-heading p {
    padding: 0 20px;
  }
  footer {
    height: 75px;
  }
  #photo-gallery {
    column-count: 2;
  }
  #form-text {
    top: 30px;
  }
  #form-text h2,
  .text-input {
    margin-bottom: 20px;
  }
  #form-section {
    height: 480px;
  }
  #email {
    margin-bottom: 20px;
  }
  .join-button {
    margin-top: 20px;
  }
  footer ul i {
    font-size: 160%;
    margin: 1% 5%;
    padding: 2.5%;
  }
}

@media screen and (max-width: 400px) {
  #menu li {
  margin-right: 15px;
  }
  #form-text {
    width: calc(90% - 60px);
  }
  #form-section {
    height: 510px;
  }
  footer ul i {
    margin: 5%;
  }
}

@media screen and (max-width: 374px) {
  #circle-container {
    width: calc(100% - 60px);
  }
}